.user-collections-card {
    display: flex;
    flex-direction: column;
}

/* fix space-between for 3 items in the collection (gap for 2 items, 
            and space-between for 3 items) */
.main-collections-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    background-color: red;
}