.user-collections-card {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto minmax(70px, 1fr);
}

.main-collections-area {
    display: grid;
    width: 100%;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 1fr));
    gap: 20px;
    align-items: start;
}

.edit-collections-container {
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
}

.edit-collections-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
    min-width: 180px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #5B4BEE;
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
}