.user-collections-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-collections-area {
    display: grid;
    width: 100%;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 1fr));
    gap: 20px;
    align-items: start;
}
