

.last-game-played-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px
}

.last-game-played-banner-container {
    width: 100%;
    height: var(--bottom-card-media-height, clamp(180px, 18vw, 255px));
}

.last-game-played-banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.last-game-played-details-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}

.last-game-played-details-container .last-game-played-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.last-game-played-platform-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.played-platform-icon {
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

.last-game-played-detail-label {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.last-game-played-detail-data {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.achievements-progress-bar {
  appearance: none;
  height: 10px;
  border-radius: 100px;
  overflow: hidden;
    
  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background-color: #222222;
    border-radius: 100px;
  }

  &::-webkit-progress-value {
    background-color: #5B4BEE;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: #5B4BEE;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
}
