section.header {
    display: flex;
}

div.profile-picture-container {
    width: 110px;
    height: 110px;
    border-radius: 8px;
}

div.profile-picture-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

div.user-info-container {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.user-info-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

div.user-info-container span {
    font-weight: 300;
    font-size: 0.8rem;
}

ul.connected-platforms-list {
    display: flex;
    list-style: none;
}

ul.connected-platforms-list li {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    border-radius: 2px;
}

ul.connected-platforms-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}