* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    min-height: 100vh;
    background-color: #191919;
    color: white;
    font-family: Inter, sans-serif;
}

#root {
    width: 100%;
}

